.form{
    margin-top: 1.5rem;
    select{
        padding: 1.5rem;
        border-radius: 8px 0 0 8px;
        font-size: 1rem;
    }
    input{
        padding: 1.5rem;
        border-radius: 0 8px 8px 0;
        font-size: 1rem;
    }
}